[Cache]

## The GUID of the last downloaded UnityPlayer pdb file.
## If this GUID matches with the current one,
## the offsets for the functions below will be used
## instead of generating them at runtime.
# Setting type: String
# Default value: B8A8A8D3234C456C9B5E4D89FD56632C1
LastDownloadedGUID = 94DD10DB79284B62A2074D9E4CB522C81

## The in-memory offset of the MonoManager::AwakeFromLoad function.
# Setting type: String
# Default value: 8EA3A0
MonoManagerAwakeFromLoadOffset = 8C2850

## The in-memory offset of the MonoManager::IsAssemblyCreated function.
# Setting type: String
# Default value: 8ECFB0
MonoManagerIsAssemblyCreatedOffset = 8C5720

## The in-memory offset of the ReadStringFromFile function.
# Setting type: String
# Default value: 879A40
ReadStringFromFileOffset = 81F130

## The in-memory offset of the ScriptingManagerDeconstructor function.
# Setting type: String
# Default value: 8C0B50
ScriptingManagerDeconstructorOffset = 8CA3F0

